.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    width: 200px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
}

.product-price {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}